.main
  .main__header
    .main__header__test
      =@group.name
      .main__header__test__member
        Member:
        -@group.users.each do |user|
          =user.name
    .main__header__edit
      = link_to edit_group_path(@group.id), class: "main__header__edit--btn" do
        Edit
  .main__middle
    = render @messages
  .main__form
    .main__form__message
      .main__form__message__box
        = form_for [@group, @message] do |f|
          .main__form__message__box__type
            = f.text_field :content, class: "main__form__message__box__text", placeholder: 'type a message'
            .main__form__message__box__type__image
              = f.label :image do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'main__form__message__box__type__image__hidden'
          = f.submit 'Send', class: 'main__form__message__btn'