.groups
  .groups__header
    .groups__header__box
      .groups__header__box__name
        = current_user.name
      .groups__header__box__btn
        = link_to new_group_path class: "groups__header__box__btn__edit" do
          = icon('far','edit', class: "groups__header__box__btn__edit__icon")
        = link_to edit_user_path(current_user), class: "groups__box groups__header__box__btn__set" do
          = icon('fa','cog', class: "groups__header__box__btn__set__icon")

  .groups__under
    - current_user.groups.each do |group|
      .groups__under__new
        = link_to group_messages_path(group) do
          .groups__under__new__name
            = group.name
          .groups__under__new__message
            = group.show_last_message