.groups
  .groups__header
    .groups__header__box
      .groups__header__box__name
         = current_user.name
      .groups__header__box__btn
        = link_to edit_user_path(current_user), class: "groups__header__box__btn__edit" do
          = icon('far','edit', class: "groups__header__box__btn__edit__icon")
        = link_to "#", class: "groups__box groups__header__box__btn__set" do
          = icon('fa','cog', class: "groups__header__box__btn__set__icon")
  .groups__under
    .groups__under__new
      techcamp
      .groups__under__new__message
        まだメッセージがありません
